@use 'lib/colors';

.games-list {
  list-style: none;
  padding: 0 1rem;
}

.games-list__item {
  margin-bottom: 1rem;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.games-header {
  padding: 1rem;
  border-bottom: 1px solid colors.get(grey);
}

.games-footer {
  padding: 1rem;
  border-top: 1px solid colors.get(grey);
}
