<ul class="games-list">
  <li
    class="games-list__item"
    ng-repeat="
      game in filteredGames = (
        vm.games
        | filter: vm.pipes.filter
        | intersect: vm.pipes.intersect
        | orderBy:  vm.pipes.order
      ) 
      | limitTo: vm.gamesPerPage : (vm.page - 1) * vm.gamesPerPage
      track by game.id"
  >
    <app-game-card
      data="game"
      toggle-favorite="vm.toggleFavorite(game.id)"
      toggle-priority="vm.togglePriority(game.id)"
    ></app-game-card>
  </li>
</ul>
