@use 'lib/colors';
@import '~normalize.css';

:root {
  font: 125% -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  color: colors.get(dark);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;

  &:focus,
  &:hover {
    color: colors.get(primary);
  }
}
